// :root {
// 	--container-width: 1200px;
// 	--container-padding: 15px;

// 	--font-main: 'Poppins', sans-serif;
// 	--font-accent: 'Playfair Display', serif;

// 	--page-bg: #fff;
// 	--text-color: #000;
// 	--accent: #ac182c;

//     --laptop-size: 1199px;
// 	--tablet-size: 768px;
// 	--mobile-size: 576px;
// }

// .dark {
//     --page-bg: #252526;
//     --text-color: #fff;
// }


	$container-width: 1110px;
	$container-padding: 15px;

	$font-main: 'Open Sans Condensed', sans-serif;
	

	$page-bg: #fff;
	$text-color: #FFFFFF;
	$accent: #ac182c;

    $laptop-size: 1920px;
    $laptop-mini-size: 992px;
	$tablet-size: 768px;
	$mobile-size: 576px;
