.footer {
  background-color: #333;
  padding: 100px;
}

.footer__text {
  color: #989898;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
