.header {
  padding: 50px 0;
  background: linear-gradient(
      0deg,
      rgba(51, 51, 51, 0.85) 0%,
      rgba(51, 51, 51, 0.85) 100%
    ),
    url("../img/bg.png"), lightgray 50% / 50% no-repeat;
  height: 100vh;
  position: relative;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: $tablet-size) {
    height: 80%;
    background-size: cover;
    background-position: 50%;
  }
}

.header__row {
  margin: 0 auto;
  @media (max-width: $laptop-mini-size) {
    flex-direction: column;
  }
  @media (max-width: $tablet-size) {
    flex-direction: row;
  }
}

.content {
  @media (max-width: 1350px) {
    padding-left: 150px;
  }
  @media (max-width: $tablet-size) {
    padding-left: 0;
  }
}
